{{#paper-toolbar as |toolbar|}} 
   {{#toolbar.tools}}
     <h2>CarSpot</h2>
     {{#paper-button accent=true raised=true}}
       Dashboard
     {{/paper-button}}
   {{/toolbar.tools}}
 {{/paper-toolbar}}

{{yield}}